<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    html,body {
      font-family: PingFangSC-Light, sans-serif;
      padding: 0;
      margin: 0;
      background-color: #fff;
      width: 550px;
      height: 440px;
    }

    .warp {
      width: 550px;
      height: 440px;
      padding: 2px 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
    }

    .item {
      display: flex;
      align-items: center;
      font-size: 12px;
    }

    .name {
      display: inline-block;
      width: 100px;
      max-width: 100px;
      height: 16px;
      line-height: 16px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      font-size: 16px;
      color: #000;
    }
    .img {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 8px;
    }
  </style>
</head>
<body>
<div class="warp">
  {{#each data as |row|}}
    <div class="item">
      <img class="img" src="{{ row.avatarUrl }}" alt="">
      <span class="name">{{ row.nickName }}</span>
    </div>
  {{/each}}
</div>
</body>
</html>
